// ====================== HEADER =============================
.header {

    .section {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

.header-container {
    padding: 0 1em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);

    .nav{
        position: relative;
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo {
            font-size: var(--h2-font-size);
            font-weight: var(--font-bold);
            // color: black;
            font-family: var(--primary-font);
            transition: color .4s;
            // width: 30%; 
        }

        .nav__menu {
            display: flex;
            align-items: center;
            width: 63%;
            justify-content: space-between;

            .nav__list {
                display: flex;
                flex-direction: row;
                column-gap: 3em;
                .nav__item {
                    .nav__link {
                        transition: color .4s;
                        
                        // color: #000000;

                    }
                }
            }

            // .nav__btn button{
            //     background-color: $my-portfolio-scss-primary;
            //     color: $my-portfolio-scss-accent;
            // }
        }

        .nav__toggle{
            display: none;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}


// Navigation for mobile devices
@media screen and (max-width: 1024px) {

    .header {
        padding: 0 0.5rem;
        .nav {
            .nav__menu{
                position: fixed;
                top: 0;
                right: -100%;
                // background-color: #ffffff;
                margin-top: calc(var(--header-height) + 2rem);
                width: 70%;
                height: 100%;
                // padding: 4rem 3rem 0;
                transition: right .4s;
                flex-direction: column;
                justify-content: center;

                &.show-menu{
                    // display: block;
                    right: 0;

                }

                .nav__list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2em;
                    margin-bottom: 2rem;

                    .nav__item {
                        .nav__link {
                            font-size: 1.5em;
                            // color: #000000;

                            &:hover{
                                color: yellow;
                            }
    
                        }
                    }

                    
                }


                .nav__close{
                    color: var(--secondary-color);
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                }

                .nav__btn button {
                    background-color: #ffffff;
                    color: #000000;
                    cursor: pointer;
                    
                }
            }

            .nav__toggle {
                display: block;
            }
        }
    }

    

}



